<div class="flex justify-center mt-16">
  <div class="lg:w-1/2 mb-4 w-4/5 overflow-x-auto">
    <table class="table-auto w-full">
      <thead class="bg-gray-200">
        <tr class="h-12 border-2 border-gray-100">
          <th>User Name</th>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts" class="border-b-2 border-gray-200">
          <td>{{ getUserById(post.userId)?.name }}</td>
          <td>{{ post.title }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
